/node_modules
/public/hot
/public/img/productos
/public/img/
/public/storage
/public/uploads
/storage/*
/storage/*.key
/database/*.sql
/public/backup
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
